

/* .node-type-slider-general .l-content{
	margin-top: 40px;
} */


.flex-direction-nav a {
  
  top: 50%;

}


.l-region--highlighted {
/* 	padding-top: 80px;  /*13/dic/2015*/  
	height: 100%;
    width: 100%;
	margin: 0 auto;
}  

.l-region--highlighted ul.slides {
    width: 100%;
    max-width: none;
}
.l-region--highlighted #flexslider-2 {
	border: 0px !important;
}

.l-region--highlighted ul li {
    max-width: none !important;
}


/* TITULO */


.slider_general .views-field-title span {
	font-family: sourcesans;
	font-size: 23px;
	font-weight: bold;
}

.slider_general .views-field-title a{
	text-decoration: none !important;
	color: #FFFFFF;
	font-family: sourcesans;
	font-size: 23px;
	font-weight: bold;
	text-shadow: 1px 2px #000;
	position: relative !important;
 	top: 70%;

}	

.slider_general .views-field-title{
	text-decoration: none !important;
	text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

}


/* .slider_general .views-field-title span { 

	font-family: sourcesans;
	font-size: 23px;
	font-weight: bold;
	color: #003b5c;
	position: relative !important;
	top: 70%;


} */




/*ACABA TITULO*/


/*DESCUBRE MÁS*/
.slider_general .views-field-view-node a{
	
	position: relative;
	color: #fff  !important;
	font-family: sourcesans; 	
	text-decoration: none !important;
	font-weight: bolder;
	font-size: 20px;
	text-shadow: 1px 2px #000;
	/* margin-bottom: 5%; */
	/* right: 2%; */
}

 .slider_general .views-field-view-node span{
		width: 100%;
		position: absolute;  
		/* margin-top: -12%;
		margin-left: -51%; */
		text-align: center !important;
		top: 80%;
		

		
 }
/*  
 .slider_general .views-field-view-node {
 margin-top: -1%;
 }
  */
/*  .flexslider {
	  margin: 0 !important;
	  background: url('img/banner_correo_top.png')  !important;
	background-position: 0px -20px !important;
  } */
  


 .flexslider .slides img {
/*	max-width: 1360px;
	max-height: 680px;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
	  } 


 
 
/*EMPIEZA RESPONSIVE*/
@media only screen and (min-width: 975px){
	.slider-general .pane-vista-slider-general{
		margin-top: -6%;
	}
	.l-region--highlighted{
	/* 	padding-top:80px; */
}
.slider_general .slides{
	    margin-top: 0%;
}

	}

@media only screen and (min-width: 960px){
.l-region--highlighted{
	/* 	padding-top: 51px; */
}
	
}



@media only screen and (max-width: 800px){

.flex-direction-nav a {
  
  top: 50%;
}
.slider_general .views-field-view-node a{
	
	font-size: 12px;
}
.slider_general .views-field-field-imagen-slider-general{
/* 	margin-top: 3%;	 */
}
.l-region--highlighted{
		/*  padding-top: 31px; */
}
	
 .slider_general .views-field-view-node span{
display: none;
 }
 .slider_general .views-field-title a{
	text-decoration: none !important;
	color: #FFFFFF;
	font-family: sourcesans;
	font-size: 19px;
	font-weight: bold;
	text-shadow: 1px 2px #000;
	position: relative !important;
	top: 70%;

}	
}  
  

  
@media only screen and (max-width: 600px){
.views-field-field-imagen-slider-general{
	display: block;
}
 
/* .views-field-field-imagen-slider-general{
	display: none;
} */

/* .slider_general .views-field-title a{
	text-decoration: none !important;
	color: #003b5c;
	font-size: 13px;
	
}	
	 */
	
	
	.flexslider{
	
	background-color: white;
}	
.slider_general .views-field-view-node a{
	
	font-size: 13px;
	
	
}
 .slider_general .views-field-view-node span{
	top: 70%;
} 



.flex-direction-nav a {
  
  top: 50%;

}
/* .slider_general .views-field-title span { 
	display: block;
	display: block;
	font-family: sourcesans;
	font-size: 19px;
	font-weight: bold;
	color: #003b5c;
}
 */
/* .slider_general .views-field-title{
	display: block;
	text-align: center;
} */
}
 @media only screen and (max-width: 551px){

 .slider_general .views-field-view-node span{
	top: 71%;
}  	 
.flexslider{
	
	background-color: white;
}	
/* .slider_general .views-field-title a{
	text-decoration: none !important;
	color: #003b5c;
} */
}
 @media only screen and (max-width: 400px){
	
/* .flexslider{
	
	background-color: white;
}	
	
.slider_general .views-field-view-node span{
	top: 101%;
} 
 .slider_general .views-field-view-node a{
	color:  #00b5e2 !important;
	
} 
/* .slider_general .views-field-title span { 

	font-family: sourcesans;
	font-size: 23px;
	font-weight: bold;
	color: #003b5c;
} */

/* .slider_general .views-field-title{
	text-align: center;
} 
.flex-direction-nav a {
  
  top: 50%;

}
/* .slider_general .views-field-title a{
	text-decoration: none !important;
	color: #003b5c;
    } 
	
.flexslider .slides img {
	margin-top: 30px;
 }
 */
 .views-field-field-imagen-slider-general{
	display: block;
}
 .slider_general .views-field-title a{
	text-decoration: none !important;
	color: #FFFFFF;
	font-family: sourcesans;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 2px #000;
	position: relative !important;
	top: 70%;

}

}
	
	
@media only screen and (max-width: 800px) {
	.slider_general .views-field-title a {
		display: block !important;
		margin-top: 30%;
	}
}

@media only screen and (max-width: 400px) {
	.slider_general .views-field-title a {
		display: block !important;
		margin-top: 30%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;		
		    width: 90%;
    margin-left: auto;
    margin-right: auto;
	}

}