
.l-footer {
	margin-top: -15px;

}

@media only screen and (min-width: 960px)
{

.l-region--footer {
	max-width: 1100px;
	margin: 0 auto;
}

.l-footer {
	background-color: #003B5D;
	color: #00B6E2;
	font-family: sourcesans;
	min-height: 250px;
	margin-top: -40px;
	}

.l-footer .logotipos strong { 
letter-spacing: 1.0px;
}

.l-footer .logotipos {
	display: block;
	float: left;
	
	max-width: 455px;
	margin-top: 25px;
	width: 445px;
	margin-left: 0px;
}

.l-footer .logotipos img {
	max-height: 87px;
	max-width: 87px;
	float: left;
	margin-right: 10px;
}

.l-footer .logotipo {
	line-height: 100px;
}

.l-footer .redes {
	display: block;
	float: left;
	margin-left: 97px;
	width: 170px;
}

.l-footer .redes img{
	height: 30px;
	width: auto;
	float: left;
	margin-right: 8px;
	
}

.l-footer .atajos {
	display: block;
	float: right;
	margin-right:250px;
	margin-top: 25px;
	font-size: 12.85px;
	}
	
	.l-footer .atajos a {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos a:hover {
		color: #00B6E2;
		text-decoration: none;
	}
	.l-footer .atajos a:active {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos ul {
	list-style-type: none;
}
}

@media only screen and (max-width: 995px) {

.l-footer {
	font-size: 14px ;

}

.panels-flexible-row-3-main-row {
	background-color:  #003B5D;
}


.panels-flexible-row-3-main-row-inside {
	max-width: 480px;
	margin: 0 auto;
}

.redes {
	margin-left: 80px !important;
	margin-top: -16px;
	display: none;
}

.l-footer .logotipos {
	margin-left: 0px !important;
	
}

.l-footer img {
	width: 65px;
	height: auto;
	margin-top: 10px;
}

.l-footer .atajos {
	display: block;
	width: 145px;
	margin-top: 25px;
	margin-right: 299px;
}

}

@media only screen and (max-width: 960px) {


.l-footer {
	background-color: #003B5D;
	color: #00B6E2;
	font-family: sourcesans;
	font-size: 14px;
	height: 200px;
}

.l-footer .logotipos strong { 
letter-spacing: 1.2px;
}

.l-footer .logotipos {
	display: block;
	float: left;
	margin-left: 10px !important;
	width: 500px;
	margin-top: 25px;
	margin-bottom: 50px;
}

.l-footer .logotipos img {
	max-height: 87px;
	max-width: 87px;
	float: left;
	margin-right: 10px;
}



.l-footer .logotipo {
	line-height: 100px;
}

.l-footer .redes {
	display: block;
	float: left;
	margin-left: 80px;
	width: 170px;
	margin-top: 1px;
}

.l-footer .redes img {
	width: 30px;
	margin-top: 0px !important;
	height: auto;
}

.l-footer img {
	width: 65px;
	height: auto;
	margin-top: 10px;
}

.l-footer .atajos {
	display: block;
	float: left;
	margin-left: 35px !important;
	margin-right: 0px !important;
	margin-top:25px;
	font-size: 12.85px;
	}
	
	.l-footer .atajos a {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos a:hover {
		color: #00B6E2;
		text-decoration: none;
	}
	.l-footer .atajos a:active {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos ul {
	list-style-type: none;
}
}

@media only screen and (max-width: 880px) {

.panels-flexible-row-3-main-row-inside {
	max-width: 480px;
	margin: 0 auto;
}


.l-footer {
	background-color: #003B5D;
	color: #00B6E2;
	font-family: sourcesans;
	font-size: 14px;
	height: 200px;
}

.l-footer .logotipos strong { 
letter-spacing: 1.2px;
}

.l-footer .logotipos {
	display: block;
	float: left;
	margin-left: 10px !important;
	margin-top: 25px;
	margin-bottom: 50px;
}

.l-footer .logotipos img {
	max-height: 87px;
	max-width: 87px;
	float: left;
	margin-right: 10px;
}



.l-footer .logotipo {
	line-height: 100px;
}

.l-footer .redes {
	display: block;
	margin-left: 80px;
	width: 170px;
	margin-top: 1px;
}

.l-footer .redes img {
	width: 30px;
	margin-top: 0px !important;
	height: auto;
}

.l-footer img {
	width: 65px;
	height: auto;
	margin-top: 10px;
}

.l-footer .atajos {
	display: block;
	float: left;
	margin-left: 45px !important;
	margin-right: 0px !important;
	margin-top:25px;
	font-size: 12.85px;
	}
	
	.l-footer .atajos a {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos a:hover {
		color: #00B6E2;
		text-decoration: none;
	}
	.l-footer .atajos a:active {
		color: #00B6E2;
		text-decoration: none;
	}
.l-footer .atajos ul {
	list-style-type: none;
}
}

@media only screen and (max-width: 735px) {
	.l-footer .logotipos {
		width: 90%;
	}

	.l-footer .atajos {
		margin-top: -15px;
	}

	.l-footer {
		height: 175px;
	}
}

@media only screen and (max-width: 530px) {
img, media {
  max-width: 100%;
}
 
.l-footer {
	background-color: #003B5D;
	color: #00B6E2;
	font-family: sourcesans;
	font-size: 12px;
	height: 250px !important;
	}

.l-footer .logotipos strong { 
letter-spacing: 0px !important;
font-family: sourcesans_bold;
}


.l-footer .logotipos {
	display: block;
	float: left;
	/*margin-left: 10%;*/
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.l-footer .logotipos img {
	max-height: 50px;
	max-width: 50px;
	float: left;
	margin-right: 10px;
}

.l-footer .logotipo {
	line-height: 100px;
}

.l-footer .redes {
	display: block;
	float: left;
	margin-left: 60px !important;
	width: 150px;
}

.l-footer .redes img{
	max-height: 25px;
	max-width: 25px;
	float: left;
	margin-right: 8px;
	
}

.l-footer .atajos {
	display: block;
	margin-left: 30px !important;
	margin-right: 0px !important;
	margin-top:5px;
	font-size: 11px;
	}
	
}