.node-type-eventos .l-page{
	padding: 1px;
}



.node-type-eventos .field--name-field-vista .field__label { 
	padding: 15px;
}

.node-type-eventos .field--name-field-vista .field__items {
		padding: 15px;

}

.node-type-eventos .view-id-vista_eventos_relacionados .view-footer{
	text-align: right;
}

.node-type-eventos .view-vista-eventos-relacionados .view-footer a {
	font-size: 15px;
    color: #003B5C;
}

.node-type-eventos .view-vista-eventos-relacionados a:hover {
    color: #00b5e2;
}

.node-type-eventos .field--type-google-map-field{
	padding: 25px 0;
}

.node-type-eventos .google-map-field {
	background-color: #BDBDBD;
    padding: 5px 0;
}

.node-type-eventos .field--name-field-vista{
    background-color: #e1e3e6;
    padding: 15px;
}

.node-type-eventos .field--name-field-imagen{
    height: 250px;
    width: 250px;
    margin: 0 auto;	
}

.node-type-eventos .field--name-title .field__items{
	width: 100%;
	text-align: center;
}


.node-type-eventos .views-field-field-imagen{
	width: 80px;
    height: 75px;
    float: left;
}

.node-type-eventos .views-row{
	height: 75px;
}

.field--type-google-map-field .field__items {
	width: 100%;
}


.node-type-eventos .google_map_field_display {
	
    height: 240px;
    width: 98%;
	margin: 0 auto;
}
}


.node-type-eventos .field--type-google-map-field{
	margin: 0 auto;
	width: 500px;
}


.node-type-eventos .field--name-field-mapa .field__label{
	display: none;
}


.node-type-eventos .l-content{
	 margin-top: 40px;
}


.ds-2col > .group-left {
  float: left; /* LTR */

  display: inline-block;
  
  width: 100%;
  min-width: 320px;
  max-width: 520px;
  padding: 15px 15px;

  
}

.ds-2col > .group-right {
  float: left;/* LTR */
  line-height: 22px;

 
  width: 100%;
  min-width: 320px;
  max-width: 520px;
  padding: 15px 15px;z    
}


.not-front .field--name-field-vista{
	
	font-size: 20px;
	
	
}

.not-front .field--name-field-vista .field__label{
	margin-bottom: 15px;
	
}

.node-type-eventos .views-field-title {
	height: 20px;
	width: 100%;
	padding-top: 20px;
	display: block;
} 

.node-type-eventos .views-field-title a{
	text-decoration: none !important;
	font-size: 15px;
	position: absolute;
  text-align: left; 
/*     margin-left: 96px;
    margin-top: -70px; */
	color:  #003b5c;
	font-weight: bold;
	width: 55%;
} 


.node-type-eventos .pane-page-title h1{
	display: none;
}

.node-type-eventos .field--name-title .field__label {
	display: none;
	
}

.node-type-eventos .field__items h2{
	font-size: 30px;
	
}


.node-type-eventos .l-content {
	max-width: 1100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px;
}

.node-type-eventos .l-content .field--name-field-imagen img {
	max-width: 250px;
	height: auto;
	clear: both;
	margin-right: 20px;
	margin-bottom: 20px;
	
}

.node-type-eventos .l-content p {
	text-align: justify;
}

.node-type-eventos .l-content h1 {
	text-align: center;
}

.node-type-eventos .l-content .field--name-field-lugar {
	/*font-size: 1.5em;*/
}

.node-type-eventos .l-content .field--name-field-fecha {
	font-weight: bold;
}

/*******************************/

@media only screen and (max-width: 1150px){
  .ds-2col > .group-left {
	width: 100%;
  }
  .ds-2col > .group-right {
	width: 100%;
  }
}
/*
.ds-2col > .group-right {
   zoom: 90%;
}
}
@media only screen and (max-width: 955px){
	.ds-2col > .group-left {
  zoom: 80%;
}

.ds-2col > .group-right {
   zoom: 80%;
}
}
@media only screen and (max-width: 800px){
	.node-type-eventos .group-left{

	zoom: 100%;
		
	}
	.ds-2col > .group-right {

  zoom: 100%;

} */


@media only screen and (max-width: 500px){
	.node-type-eventos .group-left{
	width: 100%;
	margin-top: 48px;
	zoom: 100%;
		
	}
	.ds-2col > .group-right {
  float: left;/* LTR
  zoom: 100%;
  margin-left: 1px;
}


/********************************/




.node-type-eventos .field--name-field-vista{
	width: 340px;
}

.node-type-eventos .field--name-field-vista .field__label{
	width: 100%;
    margin-top: 18px;
}

.node-type-eventos .field--name-field-telefono .field__items{
	width: 340px;
}

.node-type-eventos .field--name-field-sitio-web-contacto- .field__label{
	width: 340px;
	
}
.node-type-eventos .l-content{
	 margin-top: 1px;
}




/* .node-type-eventos .field--name-field-mapa{
	margin-left: 75px;
}
.node-type-eventos .field--name-field-mapa .field__items{
	    margin-top: 15px;
} */
}






@media only screen and (max-width: 720px) {
	.node-type-eventos .l-content .field--name-field-imagen img {
	max-width: 250px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right:auto;
	clear: both !important;
	float: none !important;
}

.node-type-eventos .l-content .field--name-field-imagen {
	clear: both;
}

/**/
.page-eventos .l-content {
	width: 1100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.page-eventos .l-content h2 {
	font-size: 2.5em;
	text-align: center;
}

.page-eventos .l-content .views-row {
    height: 350px;
    width: 275px;
    float: left;
    text-align: center;
    margin-bottom: 75px;
	}
	
	.page-eventos .l-content .views-field-title span {
		font-size: 18px;
		font-family: sourcesans;
	}
	
	.page-eventos .l-content .views-field-view-node a {
    color:  #003b5c;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
	}
	
	.page-eventos .pager {
	color:#00b5e2;
	
}

.page-eventos .pager a{
	color:#003b5c;
	text-decoration: none;
}
	
@media only screen and (max-width: 1149px) {
	.page-eventos .l-content {
		width: 850px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 866px) {
	.page-eventos .l-content {
		width: 570px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 590px) {
	.page-eventos .l-content {
		width: 275px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


