.page-eventos .l-content {
	max-width: 1100px;
	margin: 0 auto;
}

.page-eventos .l-content .pane-page-title {
	text-align: center;
}

.page-eventos .l-content .views-field-title {
	font-size: 20px;

}

.page-eventos .l-content .views-field-title a {
	color: #003b5c;
	text-decoration: none;
	font-family: sourcesans_bold;
}

.page-eventos .l-content .views-field-title a:hover {
	color: #00b5e2;
	text-decoration: none;
	font-family: sourcesans_bold;
}

.page-eventos .l-content .views-row {
	margin-bottom: 20px;
    height: 230px;
    background-color: #e1e3e6;
    padding: 15px 15px;
    position: relative;
}

.page-eventos .l-content .views-row .views-field img {
    float: left;
    margin: 20px 20px;
    margin-left: 0px !important;
}

.page-eventos .l-content .views-row .views-field-field-fecha {
	padding-top: 14px;
}

.page-eventos .l-content .views-row .views-field-view-node a {
    color: #00b5e2;
    text-decoration: none;
    font-weight: bolder;
}

.page-eventos .l-content .views-row .views-field-view-node span {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

@media only screen and (max-width: 1150px) {
	.page-eventos .l-content {
		width: 960px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 1000px) {
	.page-eventos .l-content {
		width: 800px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 845px) {
	.page-eventos .l-content {
		width: 640px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 685px) {
	.page-eventos .l-content {
		width: 480px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.page-eventos .l-content .views-row p {
		font-size: 13px;
	}
	
	.page-eventos .l-content .views-row .views-field-title a {
		font-size: 1em;
	}

	.page-eventos .l-content .views-row .views-field-title a:hover {
		font-size: 1em;
	}
	
	.page-eventos .l-content .views-row img {
		width: 150px;
		height: auto;
	}
}

@media only screen and (max-width: 520px) {
	.page-eventos .l-content {
		width: 320px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.page-eventos .l-content .views-row p {
		font-size: 13px;
		display: none;
	}
	
	.page-eventos .l-content .views-row .views-field-title a {
		font-size: 1em;
	}

	.page-eventos .l-content .views-row .views-field-title a:hover {
		font-size: 1em;
	}
	
	.page-eventos .l-content .views-row img {
		width: 150px;
		height: auto;

	}
	
	.page-eventos .l-content .views-field-field-lugar, .page-eventos .l-content .views-field-field-fecha {
		display: none;
	}
	
	.page-eventos .l-content .views-row .views-field img {
		padding-left: 65px;
	}
}

.page-eventos .pager {
	color:#00b5e2;
}

.page-eventos .pager a{
	color:#003b5c;
	text-decoration: none;
}