.l-footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    padding-bottom: 10px;
	background-color: #00395E !important;
	color: #00b5e2;
	font-family: sourcesans;
	border-top: 1px solid #666;
	
}

.l-footer .links_footer ul {
	list-style-type: none;
	padding: 0;
}

.l-footer .links_footer a {
	color: #00b5e2;
	text-decoration: none;
}

.l-footer .links_footer a:hover {
	color: #00b5e2;
	text-decoration: none;
}

.l-footer .links_footer a:active {
	color: #00b5e2;
	text-decoration: none;
}

.l-footer .apps p {
	font-family: sourcesans_bold;
	font-size: 14px;
}

.l-footer .l-footer-info img {
	height: 30px;
	width: auto;
	padding-right: 15px;
	}

.l-footer .l-footer-info .redes {
	float: none;
	display: none;
}

.l-footer .redes_responsive {
	display: none;
}

@media only screen and (min-width: 1360px) {
	.l-footer {
		height: 160px;
	}
	
	.l-footer .l-region--footer {
		width: 1300px;
		margin: 0 auto;
	}
	
	.l-footer .logo_buap_footer {
		float: left;
		padding-top: 20px;
		padding-right: 15px;
	}
	.l-footer .l-footer-info {
		float: left;
		width: 268px;
		font-size: 14px;
		margin-right: 140px;
	}
	
	.l-footer .logo_buap_footer img {
		height: auto;
		width: 170px;
	}

	.l-footer .l-region--footer .apps {
		width: 190px;
		text-align: center;
		float: left;
		margin-right: 140px;
		padding-top: 12px;
		
	}
	
	.l-footer .l-region--footer .apps p {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	
	.l-footer .l-region--footer .apps img {
		width: 100px;
		height: auto;
	}
	
	.l-footer .links_footer {
		margin-top: -2px;
		width: 140px;
		font-size: 14px;
		float: left;
	}
}

@media only screen and (max-width: 1360px) {
	.l-footer {
		height: 170px;
	}
	
	.l-footer .l-region--footer {
		width: 1025px;
		margin: 0 auto;
	}
	
	.l-footer .logo_buap_footer {
		float: left;
		padding-top: 20px;
		padding-right: 15px;
	}
	.l-footer .l-footer-info {
		float: left;
		width: 360px;
		font-size: 14px;
		margin-right: 40px;
	}
	
	.l-footer .logo_buap_footer img {
		height: auto;
		width: 170px;
	}

	.l-footer .l-region--footer .apps {
		width: 190px;
		text-align: center;
		float: left;
		margin-right: 40px;
		padding-top: 12px;
	}
	
	.l-footer .l-region--footer .apps p {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	
	.l-footer .l-region--footer .apps img {
		width: 100px;
		height: auto;
	}
	
	.l-footer .links_footer {
		margin-top: -2px;
		width: 140px;
		font-size: 14px;
		float: left;
	}
}

@media only screen and (max-width: 1045px)
{
    body{
        margin: 0 0 275px !important;
    }
    
	.l-footer {
		height: 320px;
	}
	
	.l-footer .l-region--footer {
		width: 640px;
		margin: 0 auto;
	}
	
	.l-footer .l-region--footer .apps p {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	
	.l-footer .l-region--footer .apps img {
		width: 100px;
		height: auto;
	}
    
    .l-footer .logo_buap_footer {
		float: none;
		width: 180px;
		margin: 0 auto;
		padding-right: 0;
		padding-top: 10px;
	}
	
	.l-footer .l-footer-info {
		width:100%;
		text-align: center;
		clear: both;
	}
	
	.l-footer .l-region--footer{
		width: 100% !important;
	}
	
	.l-footer {
		height: 265px;
        text-align: center;
	}
	
	.l-footer .apps {
        float: none !important;
        width: 100% !important;
		margin-right: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
	}
	
	.l-footer .links_footer {
        margin-top: 0px !important;
        padding-top: 0px !important;
		width: 100%;
	}
    
    .l-footer .links_footer li{
        width: 25%;
        float: left;
    }

}

@media only screen and (max-width: 640px) {
	
    body{
        margin: 0 0 350px !important;
    } 
     
    
    .l-footer .redes_responsive {
		display: none;
		padding-top: 20px;
		margin: 0 auto;
		width: 195px;
	}
	
	.l-footer .redes_responsive img {
		width: 30px;
		height: auto;
		margin-right: 20px;
	}
	
	.l-footer .redes_responsive img.last {
		margin-right: 0px;
	}
	
	.l-footer .redes {
		display: none;
	}
	
	.l-footer .logo_buap_footer {
		float: none;
		width: 180px;
		margin: 0 auto;
		padding-right: 0;
		padding-top: 10px;
	}
	
	.l-footer .l-footer-info {
		width:100%;
		text-align: center;
		clear: both;
	}
	
	.l-footer .l-region--footer{
		width: 100% !important;
	}
	
	.l-footer {
		height: 300px;
        text-align: center;
	}
	
	.l-footer .apps {
        float: none !important;
        width: 100% !important;
		margin-right: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
	}
	
	.l-footer .links_footer {
        margin-top: 0px !important;
        padding-top: 0px !important;
		width: 100%;
	}
    
    .l-footer .links_footer li{
        width: 50%;
        float: left;
    }
    
	.redes_responsive{
		display: none;
	}

}