 .page-vision .l-main, .page-mision .l-main {
	    max-width: 1100px;
    margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.page-vision .l-footer, .page-mision .l-footer {
	position:absolute;
	bottom: 0px;
}



.page-historia-universitaria .panel-pane.pane-node{
	margin-top: 3%;
}




.page-historia-universitaria .node__content{
	padding: 20px;
	max-width: 960px;
	margin: 0 auto;
}

.page-historia-universitaria h2.pane-title{
	max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

 @media only screen and (max-width: 550px) {
.page-historia-universitaria .panel-pane.pane-node{
	margin-top: 10%;
}

}  