@media only screen and (max-width: 1150px){
    
    .sidr-class-contenedor-menu{
        line-height: 60px !important;
    }
    
    .sidr-class-btn-menu{
        margin: 20px !important;
    }
}

@media only screen and (min-width: 1075px) and (max-width: 1300px){
 
/*------------------------------------------------ Oferta Educativa ------------------------------------------------------------------*/   
    .ofertas{
        width: 100% !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .ofertas img{
        margin-bottom: 40px;
    }
    
    .area{
        width: 828px !important;
    }
    
    .area .carreras{
        width: 56% !important;
        text-align: left;
        max-width: 640px;
        
    }
    
/*----------------------------------------------------- Posgrado ---------------------------------------------------------------------*/   
    
    .contenido{
        width: 1035px !important;
        padding: 0 !important;
        text-align: center;
    }
    
    .contenido .fila-izq{
        width: 100% !important;
        float: none !important;
        display: inline-block;
    }
    
    .contenido .fila-der{
        width: 100% !important;
        float: none !important;
        margin: 0 !important;
        max-width: 540px;
        display: inline-block;
    }
    
    .posg-der{
        width: 720px !important;
        text-align: left;
    }
    
    h3{
        text-align: center;
    }
    
/*---------------------------------------------------- Preparatorias --------------------------------------------------------------------*/ 
    
    .contenedor{
        width: 1040px !important;
        margin: 0 auto;
    }
    
    .contenedor .fila{
        width: 100%;
        text-align: center;
    }
    
    .contenedor .fila p{
        float: none !important;
        display: inline-block;
    }
    
    .contenedor .fila .izq img{
        width: 100%;
        max-width: 390px;
    }
    
    .contenedor .fila .der{
        width: 100% !important;
        max-width: 645px;
    }
    
    .contenedor .fila .der .titulo{
        text-align: center !important;
        padding-right: 0 !important;
    }
    
    .contenedor .fila .der .links{
        padding: 15px !important;
        text-align: left;
    }
    
    .titulo2 p{
        text-align: center !important;
        padding-right: 0 !important;
    } 
    
/*----------------------------------------------------- Institutos ---------------------------------------------------------------------*/ 
    
    .todo{
        width: 100%;
    }
    
    .todo h3{
        padding: 7px 0px !important;
        text-align: center !important;
    }
    
/*---------------------------------------------- Oferta Educativa ---------------------------------------------------------------------*/      
    .top-der{
        height: 233px !important;  
        text-align: left !important;
    }
    
    .top-izq{
        width: 720px !important;
    }
    
    .bottom-izq{
        padding: 19px !important;
        margin-right: 25px !important;
    }
    
    .bottom-centro{
        padding: 19px !important;
        margin-right: 25px !important;
    }
    
    .bottom-der{
        padding: 19px !important;
    }
    
    .bottom-centro, .bottom-der  ul{
        text-align: left !important;
    }

/*---------------------------------------------- Educación Continua ---------------------------------------------------------------------*/ 
    
    .views-exposed-form{
        text-align: center;
    }
    
    .views-exposed-form .views-exposed-widget{
        float: none;
        display: inline-block;
    }
    
    .view-content{
        text-align: center;
    }
    
    .page-educacion-continua .l-content .views-row{
        float: none;
        display: inline-block;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1074px){
    
/*------------------------------------------------ Oferta Educativa ------------------------------------------------------------------*/   
    
    .ofertas{
        width: 100% !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .ofertas img{
        margin-bottom: 40px;
    }
    
    .area{
        width: 100% !important;
        text-align: center;
    }
    
    .area .imagen{
        float: none !important;
        display: inline-block;
    }
    
    .area .imagen img{
        width: 80% ;
        height: auto !important;
        display: inline-block;
    }
    
    .area .carreras{
        width: 80% !important;
        height: auto !important;
        text-align: left;
        float: none !important;
        display: inline-block;
        max-width: 515px;
    }
    
    .area .carreras a{
        padding: 4px 0px !important;
    }
    
/*----------------------------------------------------- Posgrado ---------------------------------------------------------------------*/   
    
    .contenido{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .contenido .fila-izq{
        width: 100% !important;
        float: none !important;
        display: inline-block;
    }
    
    .contenido .fila-der{
        width: 100% !important;
        float: none !important;
        margin: 0 !important;
        max-width: 540px;
        display: inline-block;
    }
    
    .posg-izq{
        float: none !important;
        display: none;
    }
    
    .posg-der{
        width: 100% !important;
        text-align: left;
        float: none !important;
    }
    
    h3{
        text-align: center;
    }
    
/*----------------------------------------------------- Institutos ---------------------------------------------------------------------*/     
    
    .not-front .l-content{
        margin-bottom: 0 !important;    
    }
    
    .inst{
        width: 100% !important;
        text-align: center;
    }
    
    .inst a{
        display: inline-block !important;
        float: none !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
/*---------------------------------------------------- Preparatorias --------------------------------------------------------------------*/ 
    
    .contenedor{
        width: 100% !important;
    }
    
    .contenedor .fila{
        width: 100%;
        text-align: center;
    }
    
    .contenedor .fila p{
        float: none !important;
        display: inline-block;
    }
    
    .contenedor .fila .izq{
        float: none !important;
    }
    
    .contenedor .fila .izq img{
        width: 100%;
        display: inline-block;
        max-width: 390px;
    }
    
    .contenedor .fila .der{
        width: 100% !important;
        float: none !important;
        display: inline-block;
        max-width: 645px;
    }
    
    .contenedor .fila .der .titulo{
        text-align: center !important;
        padding-right: 0 !important;
    }
    
    .contenedor .fila .der .links{
        padding: 15px !important;
        text-align: left;
    }
    
    .titulo2 p{
        text-align: center !important;
        padding-right: 0 !important;
    } 
    
/*----------------------------------------------------- Oferta Educativa Complejos Regionales ---------------------------------------------------------------------*/
    
    .todo{
        width: 100%;
    }
    
    .todo h3{
        padding: 7px 0px !important;
        text-align: center !important;
    }
    
/*------------------------------------------------- Oferta Educativa Alfabética --------------_------------------------------------------*/ 

    .contenido_basic_page h3{
        text-indent: 0px !important;
        padding: 7px 15px !important;
        width: 100% !important;
        max-width: 460px;
    }  
    
/*---------------------------------------------- Semiescolarizado y a Distancia ---------------------------------------------------------*/       
    .top-izq{
        width: 100% !important;
        float: none !important;
    }
    
    .top-der{
        float: none !important;
        width: 100% !important;
        padding: 0 !important;
        padding-top: 25px !important;
    }
    
    .bottom-izq{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
    }
    
    .bottom-izq p{
        width: 95%;
        display: inline-block;
    }
    
    .bottom-centro{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    
    .bottom-centro ul{
        text-align: left !important;
    }
    
    .bottom-der{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .bottom-der ul{
        text-align: left !important;
    }
    
/*---------------------------------------------- Educación Continua ---------------------------------------------------------------------*/ 
    
    .views-exposed-form{
        text-align: center;
    }
    
    .views-exposed-form .views-exposed-widget{
        float: none;
        display: inline-block;
    }
    
    .view-content{
        text-align: center;
    }
    
    .page-educacion-continua .l-content .views-row{
        float: none;
        display: inline-block;
    }
    
/*---------------------------------------------- Ciencia a tiempo ---------------------------------------------------------*/
    
    .contenedor .playlist-ciencia{
        width: 100% !important;
        max-width: 741px;
    }
    
    .noticias{
        text-align: center;
    }
    
    .noticias .views-row{
        width: 100% !important;
        max-width: 300px;
        float: none !important;
        display: inline-block;
    }
}

@media only screen and (min-width: 376px) and (max-width: 650px){
    
/*------------------------------------------------ Oferta Educativa ------------------------------------------------------------------*/   
    
    .ofertas{
        width: 100% !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .ofertas img{
        margin-bottom: 40px;
    }
    
    .area{
        width: 100% !important;
        text-align: center;
    }
    
    .area .imagen{
        float: none !important;
        display: inline-block;
    }
    
    .area .imagen img{
        width: 80% ;
        height: auto !important;
        display: inline-block;
    }
    
    .area .carreras{
        width: 80% !important;
        height: auto !important;
        text-align: left;
        float: none !important;
        display: inline-block;
    }
    
    .area .carreras a{
        padding: 4px 0px !important;
    }
    
/*----------------------------------------------------- Posgrado ---------------------------------------------------------------------*/   
    
    .contenido{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .titulo{
        padding: 20px !important;
        text-align: center !important;
    }
    
    .menu img{
        margin: 0 0 30px 0 !important; 
    }
    
    .contenido .fila-izq{
        width: 100% !important;
        float: none !important;
        display: inline-block;
    }
    
    .contenido .fila-der{
        width: 100% !important;
        float: none !important;
        margin: 0 !important;
        display: inline-block;
    }
    
    .posg-izq{
        float: none !important;
        display: none;
    }
    
    .posg-der{
        width: 100% !important;
        text-align: left;
        float: none !important;
    }
    
    h3{
        text-align: center;
    }

/*----------------------------------------------------- Institutos ---------------------------------------------------------------------*/     
    
    .not-front .l-content{
        margin-bottom: 0 !important;    
    }
    
    .inst{
        width: 100% !important;
        text-align: center;
    }
    
    .inst a{
        background-size: 100% !important;
        width: 100% !important;
        height: 100% !important;
        display: inline-block !important;
        float: none !important;
        max-width: 380px;
        min-width: 335px;
        max-height: 406px;
        min-height: 370px;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 25px;
    }
    
/*---------------------------------------------------- Preparatorias --------------------------------------------------------------------*/ 
    
    .contenedor{
        width: 100% !important;
    }
    
    .contenedor .fila{
        width: 100%;
        text-align: center;
    }
    
    .contenedor .fila p{
        float: none !important;
        display: inline-block;
    }
    
    .contenedor .fila .izq{
        float: none !important;
    }
    
    .contenedor .fila .izq img{
        width: 100%;
        display: inline-block;
        max-width: 390px;
    }
    
    .contenedor .fila .der{
        width: 100% !important;
        float: none !important;
        max-width: 645px;
        display: inline-block;
    }
    
    .contenedor .fila .der .titulo{
        text-align: center !important;
        padding-right: 0 !important;
    }
    
    .contenedor .fila .der .links{
        padding: 15px !important;
        column-count: 1 !important;
        text-align: left;
    }
    
    .titulo2 p{
        text-align: center !important;
        padding-right: 0 !important;
    } 
    
/*----------------------------------------------------- Oferta Educativa Complejos Regionales ---------------------------------------------------------------------*/ 
  
    .todo h3{
        padding: 7px 0px !important;
        text-align: center !important;
    }
    
/*----------------------------------------------------- Oferta Educativa Alfabética ---------------------------------------------------------------------*/ 
  
    .contenido_basic_page{
        width: 100% !important;
    }
    
    .contenido_basic_page blockquote{
        margin: 0px !important;
        padding: 1px 0px !important;
    }
    
    .contenido_basic_page a{
        text-indent: 0px !important;
    }
    
    .contenido_basic_page h3{
        text-indent: 0px !important;
        padding: 7px 0px !important;
        width: 100% !important;
        text-align: center !important;
    }  

/*------------------------------------------------- Educación Continua ------------------------------------------------------------------*/ 
    
    .views-exposed-form .views-exposed-widget{
        padding: 0.5em 0 0 0 !important;
    }
    
    .page-educacion-continua select#edit-field-categor-a-tid.form-select{
        width: 100% !important;
    }
    
    .page-educacion-continua .l-content .views-row{
        width: 100% !important;
        
    }
    
/*----------------------------------------------- Semiescolarizado ----------------------------------------------------------------------*/ 
    
    .content .fila-info{
        text-align: justify !important;
    }
    
    .fila-izq, .fila-der{
        width: 100% !important;
        height: auto !important;
        max-width: 415px;
        max-height: 325px;
        padding: 0 !important;
        margin-bottom: 20px;
        margin-left: 0 !important;
    }
    
    .fila-izq ul, .fila-der ul{
        padding-right: 20px;
    }
    
/*---------------------------------------------- Semiescolarizado y a Distancia ---------------------------------------------------------*/       
    .top-izq{
        width: 100% !important;
        float: none !important;
    }
    
    .top-der{
        float: none !important;
        width: 100% !important;
        padding: 0 !important;
        padding-top: 25px !important;
    }
    
    .bottom-izq{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
    }
    
    .bottom-izq p{
        width: 92%;
        display: inline-block;
    }
    
    .bottom-centro{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    
    .bottom-centro ul{
        text-align: left !important;
        padding-left: 30px !important;
    }
    
    .bottom-der{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .bottom-der ul{
        text-align: left !important;
        padding-left: 30px !important;
    }
    
/*---------------------------------------------- Preparatorias ---------------------------------------------------------*/ 
    
    .overlay-datos{
        width: auto;
        left: 0 !important;
        height: auto;
        position: initial !important;
        font-size: 15px !important;
        background: rgba(0,0,0,0.5) !important;
    }
    
    .content .fila-mapa{
        margin-bottom: 50px;
    }
    
    .content .fila-mapa #columnas .contenido-columnas{
        width: 100% !important;
        height: auto !important;
        padding: 10px 0;
    }
    
    .content .fila-mapa #columnas .contenido-columnas ul{
        padding-left: 10px;
    }
    
    .content .fila-mapa #columnas #cmapa{
        width: 100% !important;
        height: 350px !important;
    }
    
/*---------------------------------------------- Ciencia a tiempo ---------------------------------------------------------*/
    
    .contenedor .playlist-ciencia{
        width: 100% !important;
        height: 300px !important;
    }
    
    .noticias{
        text-align: center;
    }
    
    .noticias .views-row{
        width: 100% !important;
        max-width: 300px;
        float: none !important;
        display: inline-block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px){
  
/*------------------------------------------------ Oferta Educativa ------------------------------------------------------------------*/   
    
    .ofertas{
        width: 100% !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .ofertas img{
        margin-bottom: 40px;
    }
    
    .area{
        width: 100% !important;
        text-align: center;
    }
    
    .area .imagen{
        float: none;
        display: inline-block;
    }
    
    .area .imagen img{
        width: 100% ;
        height: auto !important;
    }
    
    .area .carreras{
        width: 100% !important;
        height: auto !important;
        text-align: left;
    }
    
    .area .carreras a{
        padding: 4px 0px !important;
    }
    
/*----------------------------------------------------- Posgrado ---------------------------------------------------------------------*/   
    
    .contenido{
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    
    .menu img{
        width: 100% !important;
        padding: 0px !important;
    }
    
    .contenido .fila-izq{
        width: 100% !important;
        float: none !important;
        display: inline-block;
    }
    
    .contenido .fila-der{
        width: 100% !important;
        float: none !important;
        margin: 0 !important;
    }
    
    .titulo{
        padding: 20px !important;
        text-align: center !important;
    }
    
    .posg-izq{
        float: none !important;
        display: none;
    }
    
    .posg-der{
        width: 100% !important;
        text-align: left;
        float: none !important;
    }
    
    h3{
        text-align: center;
    }
    
    
    
/*----------------------------------------------------- Institutos ---------------------------------------------------------------------*/     
    
    .not-front .l-content{
        margin-bottom: 0 !important;    
    }
    
    .inst{
        width: 100% !important;
    }
    
    .inst a{
        width: 100% !important;
        height: 100% !important;
        background-size: 100% !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 25px;
        min-width: 280px;
        min-height: 325px;
    }
    
/*---------------------------------------------------- Preparatorias --------------------------------------------------------------------*/ 
    
    .contenedor{
        width: 100% !important;
    }
    
    .contenedor .fila p{
        width: 100% !important;
        float: none !important;
    }
    
    .contenedor .fila .izq{
        float: none !important;
    }
    
    .contenedor .fila .izq img{
        width: 100%;
        display: inline-block;
    }
    
    .contenedor .fila .der{
        width: 100% !important;
        float: none !important;
    }
    
    .contenedor .fila .der .titulo{
        text-align: center !important;
        padding-right: 0 !important;
    }
    
    .contenedor .fila .der .links{
        padding: 15px !important;
        column-count: 1 !important;
        display: inline-block !important;
    }
    
    .titulo2 p{
        text-align: center !important;
        padding-right: 0 !important;
    }  

/*-------------------------------------------------- Oferta Educativa Complejos Regionales ----------------------------------------------*/ 
  
    .todo h3{
        padding: 7px 0px !important;
        text-align: center !important;
    }
    
/*------------------------------------- Oferta Educativa Alfabética ---------------------------------------------------------------------*/ 
  
    .contenido_basic_page{
        width: 100% !important;
    }
    
    .contenido_basic_page blockquote{
        margin: 0px !important;
        padding: 1px 0px !important;
    }
    
    .contenido_basic_page a{
        text-indent: 0px !important;
    }
    
    .contenido_basic_page h3{
        text-indent: 0px !important;
        padding: 7px 0px !important;
        width: 100% !important;
        text-align: center !important;
    }  
    
/*---------------------------------------------- Educación Continua ---------------------------------------------------------------------*/ 
    
    .views-exposed-form .views-exposed-widget{
        padding: 0.5em 0 0 0 !important;
    }
    
    .page-educacion-continua select#edit-field-categor-a-tid.form-select{
        width: 100% !important;
    }
    
    .page-educacion-continua .l-content .views-row{
        width: 100% !important;
        
    }
    
/*---------------------------------------------- Educación Continua ---------------------------------------------------------------------*/ 
    
    .content .fila-info{
        text-align: justify !important;
    }
    
    .fila-izq, .fila-der{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-bottom: 20px;
        margin-left: 0 !important;
    }
    
    .fila-izq ul, .fila-der ul{
        padding-right: 20px;
    }
    
/*---------------------------------------------- Semiescolarizado y a Distancia ---------------------------------------------------------*/       
    .top-izq{
        width: 100% !important;
        float: none !important;
    }
    
    .top-der{
        float: none !important;
        width: 100% !important;
        padding: 0 !important;
        padding-top: 25px !important;
    }
    
    .bottom-izq{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
    }
    
    .bottom-izq p{
        width: 90%;
        display: inline-block;
    }
    
    .bottom-centro{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    
    .bottom-centro ul{
        text-align: left !important;
        padding-left: 30px !important;
    }
    
    .bottom-der{
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin-top: 20px;
    }
    
    .bottom-der ul{
        text-align: left !important;
        padding-left: 30px !important;
    }
    
/*---------------------------------------------- Preparatorias ---------------------------------------------------------*/ 
    
    .overlay-datos{
        width: auto;
        left: 0 !important;
        height: auto;
        position: initial !important;
        font-size: 13px !important;
        background: rgba(0,0,0,0.5) !important;
    }
    
    .content .fila-mapa #columnas .contenido-columnas{
        width: 100% !important;
        height: auto !important;
        padding: 10px 0;
    }
    
    .content .fila-mapa #columnas .contenido-columnas ul{
        padding-left: 10px;
    }
    
    .content .fila-mapa #columnas #cmapa{
        width: 100% !important;
        height: 350px !important;
    }
    
/*---------------------------------------------- Ciencia a tiempo ---------------------------------------------------------*/
    
    .contenedor .playlist-ciencia{
        width: 100% !important;
        height: auto !important;
    }
    
    .noticias .views-row{
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}
