/**
 * Basic colorbox styling, plus custom close button.
 */

#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 9999; */
  overflow: visible;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

#cboxClose {
  top: -6px;
  right: -6px;
  background: url("images/new-popup-close-button.gif") no-repeat;
  width: 27px;
  height: 27px;
  position: absolute;
  border: 0 none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
}


@media only screen and (max-width: 670px){
#cboxLoadedContent {
	width: 300px;
	height: 300px;
}

#cboxContent{
    /* margin-top: 10% !important; */
    width: 83% !important;
    height: 70% !important;
}

.entity-popup-onload .content{
	margin-top: -5% !important; 
	width: 73%;
	margin: 0 10%;
}
}

@media only screen and (max-width: 424px){
.entity-popup-onload .content{
	margin-top: 5%;
	width: 50%;
	margin: 0 6%;
}
#cboxContent{
	padding-top: 5% !important;
	width: 58% !important;
	height: 55% !important;
}
}
@media only screen and (max-width: 350px){
	.entity-popup-onload .content{
	margin-top: 5%;
	width: 36%;
	margin: 0 6%;
}
#cboxContent{
	padding-top: 5% !important;
	width: 42% !important;
	height: 55% !important;
}
}
}



