
.views_slideshow_cycle_no_display,
.views_slideshow_cycle_hidden,
.views_slideshow_cycle_controls,
.views_slideshow_cycle_image_count {
  display: none;
}

/* Pager Settings */

.views_slideshow_cycle_pager div a img {
  width: 75px;
  height: 75px;
}

.views_slideshow_pager_numbered div, .views_slideshow_pager_thumbnails div {
  display: inline;
  padding-left: 10px;
}

.views_slideshow_cycle_pager.thumbnails a.activeSlide img {
  border: 3px solid #000;
}

.views_slideshow_cycle_pager.numbered a.activeSlide {
  text-decoration: underline;
}


.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

 
 .views_slideshow_cycle_main .field-content img {
  max-width: 100%; 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}  